.home{
  position: relative;
  padding-top: 125px;
  height: 662px;
  background-image: url(../img/home-bg.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: GothamProBold;
  z-index: 0;
  background-position: center -115px;

  &:after{
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: 0.8;
    z-index: 1;
  }

  .wrap{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    position: relative;
  }

  h1{
    letter-spacing: 1px;
    color: #fff;
    font-size: 52px;
    margin-top: 0;
  }
  p.slogan{
    color: #fff;
    opacity: 0.70;
    font-size: 22px;
    line-height: 1.55;
    font-family: GothamProMedium;
    width: 50%;
    margin-bottom: 90px;
  }
  a{
    border-radius: 50px;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    color: #fff;
    height: 60px;
    line-height: 56px;
    
    &:nth-child(3){
      background-color: #ff9900;
      width: 280px;
    }
    &:last-child{
      border: 3px solid #ffffff;
      margin-left: 10px;
      width: 175px;
      transition: all 0.2s ease-in-out;

      &:hover{
        background-color: #fff;
        color: #000;
      }
    }
  }

}